body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: pink;
}
h2 {
  color: turquoise;
}
h3 {
  color: blueviolet;
}
h4 {
  color: cornflowerblue;
}
p {
  color: darkorchid;
}
a {
  color: deeppink;
}
button {
  padding: 50px;
  color: deeppink;;
  background-color: turquoise;
}